<div class="container">
 <div class="col-lg-8">
  <h2>Set 3 goals, give feedback and grow your team.</h2><br>

  <a href="signup" class="btn btn-default" role="button">CREATE A NEW TEAM</a><br>
   <br>
   <br>
  <a href="signup" class="btn btn-primary" role="button">JOIN A TEAM</a>
  </div>
</div>
