<% if defined?(Devise) %>
   <% if user_signed_in? %>
      <h2>Hello thats your personal dashboard</h2>

   <% else %>
      <div class="container">
       <div class="col-lg-8">
          <h2>Set 3 goals, Give Feedback and Grow your Team.</h2><br>
          <h3>New Here? You Are:</h3>
          <br>
          <a href="signup/employee" class="btn btn-default" role="button">Employee</a>
          <br>
          <br>
          <a href="signup/manager" class="btn btn-primary" role="button">Manager</a>
          <br>
          <br>
          <a href="signup/company_leader" class="btn btn-info" role="button">Company Leader</a>
       </div>
      </div>
   <% end %>
<% end %>
