<% if defined?(Devise) %>
   <% if user_signed_in? %>
      <% if current_user.has_role? :employee %>
        <div class="container">
          <div class="col-lg-8">
          <a href="goals/index" class="btn btn-default" role="button">Review Your Goals</a>
          <br>
          <br>
          <a href="" class="btn btn-primary" role="button">Edit Your Profile</a>
          </div>
        </div>

      <% elsif current_user.has_role? :manager %>
        <div class="container">
          <div class="col-lg-8">
          <a href="signup/manager" class="btn btn-default" role="button">Your Team</a>
          <br>
          <br>
          <a href="goals/index" class="btn btn-primary" role="button">Review Your Goals</a>
          <br>
          <br>
          <a href="" class="btn btn-info" role="button">Edit Your Profile</a>
          </div>
        </div>  

      <% else current_user.has_role? :company_leader %>
        <div class="container">
          <div class="col-lg-8">
          <a href="signup/employee" class="btn btn-default" role="button">+Add Managers</a>
          <br>
          <br>
          <a href="signup/manager" class="btn btn-primary" role="button">See All Team Members</a>
          <br>
          <br>
          <a href="" class="btn btn-info" role="button">Edit Your Profile</a>
          </div>
        </div>

      <% end %>


   <% else %>
      <div class="container">
       <div class="col-lg-8">
          <h2>Set 3 goals, Give Feedback and Grow your Team.</h2><br>
          <h3>New Here? You Are:</h3>
          <br>
          <a href="signup/employee" class="btn btn-default" role="button">Employee</a>
          <br>
          <br>
          <a href="signup/manager" class="btn btn-primary" role="button">Manager</a>
          <br>
          <br>
          <a href="signup/company_leader" class="btn btn-info" role="button">Company Leader</a>
       </div>
      </div>
   <% end %>
<% end %>
