<div class="container">
  <div class="col-lg-8">

	<form >
	  Email: <input type="text" name="email"><br>
	  <br>
	  <a href="" class="btn btn-success" role="button">+Invite this Manager</a>
	</form>
 </div>
</div>